<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Basics</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />

  </head>
  <body>
    <header>
      <h1>Monster Slayer</h1>
    </header>

    <div id="game">

      <section id="monster" class="container">
        <h2>Monster Health</h2>
        <div class="healthbar">
          <div :style="updateMonsterHp" class="healthbar__value"></div>
        </div>
      </section>

      <section id="player" class="container">
        <h2>Your Health</h2>
        <div class="healthbar">
        <div class="healthbar__value" :style="updatePlayerHp" ></div>
        </div>
      </section>

      <section v-if="!gameFinished" id="controls">
        <button @click="attackMonster">ATTACK</button>
        <button :disabled="mayUseSpecialAttack" @click="specialAttackMonster">SPECIAL ATTACK</button>
        <button @click="playerHeal">HEAL</button>
        <button @click="surrender">SURRENDER</button>
      </section>

      <section v-else id="gameOver" class="container">
        <h2>Game Over!</h2>
        <h3>{{gameOverResults}}</h3>
        <button @click="startNewGame">Start New Game</button>
      </section>

      <section id="log" class="container">
        <h2>Battle Log</h2>
        <ul>
          <li v-for="log in battleLog">
            <span :class="{'log--player': log.who === 'Player', 'log--monster': log.who === 'Monster'}"> {{log.who === 'Player'? 'Player' : 'Monster'}}</span>
            <span v-if="log.what === 'healing'"> heals himself by <span class="log--heal">{{log.value}}</span></span>
            <span v-else>attacks and deals <span class="log--damage">{{log.value}}</span></span>
          </li>
        </ul>
      </section>

    </div>
    <script src="https://unpkg.com/vue@3.4.9/dist/vue.global.js"></script>
    <script src="app.js"></script>
  </body>
</html>
